extends base

block content 
  div
    div 
      each hashtag in video.hashtags
        // Click to search by hashtag
        a(href="")=hashtag 
      h1=video.title
      div 
        if video.meta.views<=1 
          span #{video.meta.views} view
        else
          span #{video.meta.views} views
        span  · 
        small=video.createdAt.toISOString().substr(0,10)
      div
        p=video.description
      div.video__edit
          a(href=`${video.id}/edit`) Edit Video &rarr;
          a(href=`${video.id}/delete`) Delete Video &rarr;
